.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 40px;
}

.galleryColumn {
  min-width: 0;
}

.infoColumn {
  min-width: 0;
}
